.img-black {
    filter: invert(0%) sepia(0%) saturate(7476%) hue-rotate(91deg) brightness(90%) contrast(107%);
}

.img-orange {
    filter: invert(23%) sepia(80%) saturate(3447%) hue-rotate(4deg) brightness(105%) contrast(103%);
}

.img-teste:hover {
    filter: invert(23%) sepia(80%) saturate(3447%) hue-rotate(4deg) brightness(105%) contrast(103%);
}